.toast-message {
    /* visibility: hidden; */
    width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    z-index: 1;
    left: 0;
    right: 0;
    top: 50px;
    font-size: 17px;
    margin: 10px auto;
 
    
}
.toast-container{
    margin: auto;   
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.toast--danger{
    background-color: red;
}

.toast--success{
    background-color: green;
}